* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.cont {
  display: flex;
  justify-content: center;
}

/* buttons */

button {
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 999px;
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.05);
}

button:hover {
  transition: all 0.3s ease 0s;
  transform: translateY(-3px);
}

/* sign in button */

.signin-button {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 6px 22px 6px 6px;
  border: 2px solid #e7ffdb;
}

.signin-button:hover {
  background-color: #e7ffdb;
}

/* sign out button */

.signout-button {
  font-size: 14px;
}

/* send message button */

.send-button {
  width: 20%;
  background-color: #007c65;
  border-radius: 999px;
  color: #e7ffdb;
}

/* message encrypt & decrypt button */

.encdec-button {
  margin-left: 10px;
  background-color: #007c65;
  color: white;
  cursor: pointer;
  font-size: 10px;
}

.encdec-button:hover {
  background-color: #006e5a;
}
