* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
}

.cont {
  display: flex;
  justify-content: center;
}

/* buttons */

button {
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 999px;
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.05);
}

button:hover {
  transition: all 0.3s ease 0s;
  transform: translateY(-3px);
}

/* sign in button */

.signin-button {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 6px 22px 6px 6px;
  border: 2px solid #e7ffdb;
}

.signin-button:hover {
  background-color: #e7ffdb;
}

/* sign out button */

.signout-button {
  font-size: 14px;
}

/* send message button */

.send-button {
  width: 20%;
  background-color: #007c65;
  border-radius: 999px;
  color: #e7ffdb;
}

/* message encrypt & decrypt button */

.encdec-button {
  margin-left: 10px;
  background-color: #007c65;
  color: white;
  cursor: pointer;
  font-size: 10px;
}

.encdec-button:hover {
  background-color: #006e5a;
}

.msg {
  font-size: 12px;
  color: #006e5a;
  margin: 20px 0px;
}

.app {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.app header {
  background-color: #008169;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px 12px;
}

.app section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #eae4df;
}

.main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

/* scroller */

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-thumb {
  background: #007c65;
}

form {
  height: 9vh;
  position: fixed;
  bottom: 6px;
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
  background-color: transparent;
  padding: 0 6px;
}

input {
  line-height: 1.5;
  width: 100%;
  font-size: 20px;
  backdrop-filter: blur(38px);
  color: #000;
  outline: none;
  border: none;
  padding: 0 30px;
  border-radius: 999px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

ul,
li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: left;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

/* send message */

.sent p {
  color: #000;
  background: #e7ffdb;
  align-self: flex-end;
}

/* received message */

.received p {
  background: #fff;
  color: black;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

/* message timming */

.timestamp {
  font-size: 0.8em;
  color: #929292;
  margin-top: 1px;
}

/* copyright message */

.copy-text {
  color: #000;
  font-size: 12px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

/* popup */

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefaed;
  color: #5e553c;
  padding: 16px;
  border: 1px solid #f59e0b;
  max-width: 500px;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  text-align: center;
}

.popup button {
  display: block;
  margin: 10px auto 0 auto;
  background-color: #f59e0b;
  color: #fff;
}
